{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
   <div class="container">
   <div class="col-md-12">
      <form action="{{data.action}}" method="post" novalidate>
        {% for field in form %}
          <p>
              {% if field.type != 'CSRFTokenField' %}
                {{ field.label }}<br>
              {% endif %}
              {{ field }}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   </div>
{%- endblock %}