{%- extends "base.html" %}


{% block content %}
   <div class="container">
    <h1>Lista {{ data.entity_title }}</h1>
    <p><a href="/">Voltar</a></p>
    <p><a href="/{{ data.entity_name }}/create">Voltar</a></p>
    <table class="table table-striped table-hover">
        <tr>
            {% for col_header in data.col_headers %}
                <th>{{ col_header }}</th>
            {% endfor %}
            <th>Ações</th>
        </tr>
        {% for entity in data.entities %}
            <tr>
                {% for col_header in data.col_headers %}
                    <td>{{ entity[col_header] }}</td>
                {% endfor %}
                <td>
                    <a href="/{{ data.entity_name }}/remove/{{ entity.id }}">Remover</a>
                    <a href="/{{ data.entity_name }}/edit/{{ entity.id }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{%- endblock %}